{% extends 'Gallery/base.html' %}

{% block content %}

<div style="padding-top:150px;"class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">About Us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div style="width: 80%;"class="container">
				<div class="row">
					<!-- <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/bg_2.jpg);">
						<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div> -->
					<div class="col-md-12 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-5 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 style="font-family:'megrim';color: #008080;"class="mb-4">Our mission</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
							<p>Our mission is simple: we help others through the means of our passion. Each one of us in this organisation is tied together by two predominant threads: a passion for art and the desire to help others. Ifrah has consistently achieved this aim through the course of 4 years by organising art exhibitions in our city- Jaipur- to raise funds for students across the state. However, 2020 has posed newer challenges such as the COVID-19 pandemic which has wreaked havoc in the state of Rajasthan, much like the rest of the world. To provide assistance in these dark times, 'Ifrah' is organising an online exhibition to sell paintings. All proceeds will then be transferred to the Chief Minister's COVID-19 fund which tackles issues ranging from health to education. </p>
						</div>
					</div>
				</div>
			</div>
		</section>






{% endblock %}
