{% extends 'Gallery/base.html' %}

{% block content %}


{% if user.cart.paintings.all|length != 0 %}
<div style="padding-top:150px;"class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">{{ user.userprofile.name }}'s Cart</h1>
          </div>
        </div>
      </div>
    </div>

		<section style="padding: 0"class="ftco-section ftco-cart">
			<div style="width: 70%"class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>Image</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th style="max-width: 20px"></th>
						        <!-- <th>Quantity</th>
						        <th>Total</th> -->
						      </tr>
						    </thead>
						    <tbody>
                  {% for painting in paintings %}
						      <tr class="text-center">


						        <td style="max-width: 50px;" class="image-prod"><div class="img" style="background-image:url(/static/images/product-3.jpg);"></div></td>

						        <td class="product-name">
						        	<h3><a href="{% url 'viewDetails' painting.id %}">{{ painting.category }}</a></h3>
						        	<p>Far far away, behind the word mountains, far from the countries</p>
						        </td>

						        <td class="price">₹{{ painting.price }}</td>

                    <td class="product-remove"><a href="{% url 'removeFromCart' painting.id %}"><span class="ion-ios-close"></span></a></td>


						      </tr><!-- END TR-->
{% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
<form action="{% url 'checkout' %}" method="post">
{% csrf_token %}

    		<div class="row justify-content-end">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>₹{{ bill }}.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>₹50.00</span>
    					</p>
    					<!-- <p class="d-flex">
    						<span>Discount</span>
    						<span>₹3.00</span>
    					</p> -->
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>₹{{ bill | add:50 }}.00</span>
    					</p>
    				</div>
    				<p class="text-center"><button type='submit' class="btn btn-primary py-3 px-4"><span style="color: #cccccc; ">Proceed to Checkout</span></button></p>
    			</div>
    		</div>
        </form>
			</div>
		</section>

  {% else %}

  <div style="padding-top:150px;"class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
              <h1 class="mb-0 bread">Your cart is empty</h1>
            </div>
          </div>
        </div>
      </div>
  {% endif %}

    <br>
    <br>


{% endblock %}
