<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div style='margin-top: 70px;'class="container">
      <div style="margin: 0 auto;"class="jumbotron">
        {% if error %}
        <h1>error</h1>
        {% else %}
        <h1>Success</h1>
        {% endif %}
        <a href="{% url 'viewOrders' %}">View your orders</a>
      </div>
    </div>

  </body>
</html>
