{% extends 'Gallery/base.html' %}

{% block content %}


{% if user.orders.all|length != 0 %}

<div style="padding-top:150px;"class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">{{ user.userprofile.name }}'s Orders</h1>
          </div>
        </div>
      </div>
    </div>

		<section style="padding: 0"class="ftco-section ftco-cart">
			<div style="width: 80%"class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>Image</th>
						        <th>Product</th>
						        <th>Price</th>

						      </tr>
						    </thead>
						    <tbody>
                  {% for order in orders.all %}
                  {% for painting in order.paintings.all %}
                  {% if order.successful %}
						      <tr class="text-center">


						        <td style="max-width: 50px;" class="image-prod"><div class="img" style="background-image:url({{ painting.photo.url }});"></div></td>

						        <td class="product-name">
						        	<h3><a href="{% url 'viewDetails' painting.id %}"><p>{{ painting.title }}</p></a></h3>

						        </td>

						        <td class="price">₹{{ painting.price }}</td>




						      </tr><!--
                     END TR-->
                     {% else %}{% endif %}
{% endfor %}
{% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>

			</div>
		</section>
    <br>
    <br>

{% else %}

<div style="padding-top:150px;"class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">You have no orders</h1>
          </div>
        </div>
      </div>
    </div>

{% endif %}

{% endblock %}
